{% extends 'users/account.html' %}

{% block main %}
<style>
    input{border:2px solid black !important;text-indent:1ex;}
</style>

<div class="row">

    <div class="col s12 l4 ">
        <div class="card black" style="padding:2ex;color:white;">
            <center>
                <h3 style="color:white;">⭐ STARTER</h3><hr/>
                <p style="color:white;"><b>DEPOSIT</b></p>
                <p>min - max</p>
                <p style="color:white;"><b>PROFIT</b></p>
                <p>min - max</p>
                <p>⌛</p>
                <p>
                <center>
                    <button style="width:50%;z-index:5;" class="btn pulse red">ACTIVE</button>
                </center>
                </p>

            </center>
        </div>
    </div>

</div>
{% endblock %}