{% extends 'users/account.html' %}

{% block main %}
<style>
    input{border:2px solid black !important;text-indent:1ex;}
</style>

<div class="row">

    <div class="col s12 l4 ">
        <div class="card black" style="padding:2ex;color:white;">
            <h5>REFERRAL</h5><hr/>
            <center>
                <i class="material-icons" style="font-size:12ex;">groups</i>
                <p style="position:;margin-top:-2ex;">REFERRAL BONUS</p>
                <h4>$36287</h4>
                <input class="white" type="text" placeholder="ENTER AMOUNT">
                </p>

            </center>
        </div>
    </div>
</div>
{% endblock %}