{% extends 'users/account.html' %}

{% block main %}
<style>
    input{border:2px solid black !important;text-indent:1ex;}
</style>

<div class="row">

    <div class="col s12 l4 ">
        <div class="card black" style="padding:2ex;color:white;">
            <h5>YOUR REQUEST WAS SUCCESSFUL!!</h5><hr/>
            <center>
                <i class="material-icons" style="font-size:12ex;">done_all</i>

                <a href="/account/" class="btn">OKAY</a>
            </center>
        </div>
    </div>
</div>
{% endblock %}