<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body style="width:100%;">
<div  style="background-color:#111231;padding:2ex;color:#f3b30f;text-align:center;">
<img src="https://cdn2.bitwiseglobal.com/bwin-prod-cdn/themes/bwindia/images/logo-white.png" style="width:10ex;">
</div>

<div style="width:75%;padding:2.5%;margin-left:10%;">
   <p style=""> Welcome {{name}} </p>

<div style=" background-color:#efeee5a8;padding:1ex; height:20ex;">
  <p>  your verification code is </p><br/>
    <center>
    <span style="background-color:#111231;padding:2ex;font-size:3ex;color:white;">
      {{ code }}
    </span>
        </center>
</div>
</div>
<br/><br/>
<div style="background-color:#111231;padding:2ex;color:white; font-weight:normal;">
    <center>
        © Copyright 2021   BITWISE   All Rights Reserved.
    </center>

</div>

</body>
</html>